
/*
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*/
@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope-ExtraLight.woff2) format("woff2");
    font-weight:200
}

@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope-Light.woff2) format("woff2");
    font-weight:300
}

@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope-Regular.woff2) format("woff2");
    font-weight:400
}

@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope-Medium.woff2) format("woff2");
    font-weight:500
}

@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope-SemiBold.woff2) format("woff2");
    font-weight:600
}

@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope-Bold.woff2) format("woff2");
    font-weight:700
}

@font-face {
    font-family: Manrope;
    src: url(/assets/fonts/Manrope-ExtraBold.woff2) format("woff2");
    font-weight:800
}

:root {
    --secondary-color: #f0f0f0;
    --font-color: #333333;
    --code-color: #333333;
    --bg-color: #ffffff;
    --link-color: #5a5ac8;
    --deep-black: #000;
}

[data-theme="dark"] {
    --secondary-color: #646464;
    --font-color: #ffffff;
    --bg-color: #333333;
    --link-color:#8ca0ff;
    --code-color: #333333;
    --deep-black: #fff;
}

html { 
    /*
    font-family: "Inter", sans-serif;
    font-family: 'Open Sans', sans-serif;
    */
    font-family: Manrope, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5; /* 160%; */

    margin: 2px;

    -webkit-locale: en;

    letter-spacing: normal;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}


p{
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

body{
    background-color: var(--bg-color); /*  rgb(248, 248, 248);*/
    color: var(--font-color);
    min-width:320px;

    max-width: 732px;
    margin: auto;
    
    padding: 1em;

    opacity: 1;

    transition: all 0.5s ease-in-out;
}

  body.fade {
      opacity: 0;
      transition: all 0.5s ease-in-out;
  }


.dark-mode{
    color: var(--font-color);
    background-color: var(--bg-color); 
    transition: all 0.5s ease-in-out;
}
 
/*
h1,h2,h3,h4,h5,h6 {
    font-family: "Inter", sans-serif;
}
**/

h1{
    /* 
    text-align: center; 
    padding: 0.5em;
    */
    text-align: left; 
    margin-top: .75em; /* 3em; */
    margin-bottom: 0.25em; /* 3em; */
    line-height: normal;
    font-weight: 700; 
    font-size:  2.4rem; /* 40px; */

    color: var(--deep-black);
    transition: all 0.5s ease-in-out;
}

h2, h3 {
    margin-block-start: 1em;
    margin-block-end: 0.1em;
}

h2 {font-weight: 700;}
h3 {font-weight: 600;}
h4 {font-weight: 500;}
h5 {font-weight: 400;}
h6 {font-weight: 300;}

a {
    color: var(--link-color);
    transition: color 0.5s ease-in-out;
}
a:hover{
      text-decoration: none;
}

.nav-shape{
    fill: var(--font-color);
    transition: fill 0.5s ease-in-out;
}

svg{
    fill: inherit;
}

.internal-link {
    color: var(--font-color); 
    text-decoration:  underline; 
    text-underline-offset: 0.25em; 
    text-decoration-style: solid; 
    text-decoration-thickness: .75px;
}

h1 a.internal-link{
    color: var(--deep-black);
}



blockquote {
    background-color: transparent;
    border: solid 1px var(--secondary-color);
    border-left: solid 4px var(--secondary-color);;
    padding: 0.25em 16px 0.25em 16px;
    border-radius: 8px;
    margin: 1em 0px 1em 0px;

    transition: border-color 0.5s ease-in-out;
}

mark{
background-color: var(--secondary-color);
padding: 3px 5px;
border-radius: 8px;

transition: all 0.5s ease-in-out;
}


ul {
    padding-left: 1em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

li {
    margin:0 5px 5px 0;
}

hr {
    content: '';
    display: block;
    border: none;
    background: var(--secondary-color);;
    /*
    margin-top: 2em;
    margin-bottom: 2em;
    */
    margin-block-start: 1em;
    margin-block-end: 1em;    

    position: relative;
    height: 1px;

    transition: all 0.5s ease-in-out;
}


#tooltip-wrapper {
    background: var(--bg-color);
    padding: 1em;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    width: 400px;
    height: 250px;
    font-size: 0.8em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    opacity: 0;
    transition: opacity 100ms;
  }

  #tooltip-wrapper:after {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		pointer-events: none;
		/* background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%); */
		width: 100%;
		height: 75px;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0px;
    max-height: 100%;
    padding: 0px;
  }

  #fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: var(--bg-color);
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
  }

  @keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

.desc{
    text-align: center; 
    /*opacity: 0.5;*/
    padding-bottom: 1em;
}

/*
@media only screen and (max-width: 768px){

    html {
        font-size: 1.1rem;
    }

}
*/